@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-center">
    <h1 class="text-light">Welcome to Zinger!</h1>
    <style>
        body {
            background-image: url('/images/lightningZ.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
 <footer></footer>
</div>

